# [LAB10] ì§€ë„í•™ìŠµ > ì¶”ì²œì‹œìŠ¤í…œ > KNNBasic

## #01. KNNBasic ì•Œê³ ë¦¬ì¦˜ ê°œìš”

ì´ì›ƒ(K-Nearest Neighbors)ì„ ê¸°ë°˜ìœ¼ë¡œ í•˜ëŠ” ì „í†µì  í˜‘ì—…í•„í„°ë§ ì•Œê³ ë¦¬ì¦˜ì„.

ë¹„ìŠ·í•œ ì‚¬ìš©ì ë˜ëŠ” ë¹„ìŠ·í•œ ì•„ì´í…œì„ ì°¾ì•„ì„œ ê·¸ë“¤ì˜ í‰ì ì„ í‰ê· í•˜ì—¬ ì˜ˆì¸¡í•¨.

Baselineì´ **í¸í–¥ ë³´ì • ëª¨ë¸**ì´ë¼ë©´,  
KNNBasicì€ **ìœ ì‚¬ë„ ê¸°ë°˜ ëª¨ë¸**ì„.

### [1] KNNBasicì˜ ê¸°ë³¸ ê°œë…

ë‘ ê°€ì§€ ë°©ì‹ì´ ì¡´ì¬í•¨.

| êµ¬ë¶„ | ì„¤ëª… |
|---|---|
| User-based CF | ë‚˜ì™€ ë¹„ìŠ·í•œ ì‚¬ìš©ìë“¤ì´ ì¤€ í‰ì ì„ ì°¸ê³  |
| Item-based CF | ë‚´ê°€ ë†’ê²Œ ì¤€ ì•„ì´í…œê³¼ ë¹„ìŠ·í•œ ì•„ì´í…œ ì°¸ê³  |

### [2] ì˜ˆì¸¡ ê³µì‹ (User-based)

$$\hat{r}_{ui} = \frac{\sum_{v \in N_k(u)} sim(u,v) \cdot r_{vi}} {\sum_{v \in N_k(u)} |sim(u,v)|}$$

| ê¸°í˜¸ | ì˜ë¯¸ |
|---|---|
| N_k(u) | ì‚¬ìš©ì uì™€ ê°€ì¥ ìœ ì‚¬í•œ këª… |
| sim(u, v) | ì‚¬ìš©ì uì™€ vì˜ ìœ ì‚¬ë„ |
| r_vi | ì´ì›ƒ ì‚¬ìš©ì vê°€ ì•„ì´í…œ iì— ì¤€ í‰ì  |

### [3] ìœ ì‚¬ë„(Similarity) ì¢…ë¥˜

| ë°©ë²• | ì„¤ëª… |
|---|---|
| Cosine | ë²¡í„° ê°ë„ ê¸°ë°˜ |
| Pearson | í‰ê·  ì œê±° í›„ ìƒê´€ê³„ìˆ˜ |
| MSD | í‰ê·  ì œê³± ì°¨ì´ ê¸°ë°˜ |

### [4] í•´ì„ ì˜ˆì‹œ

ì‚¬ìš©ì Aê°€ ì˜í™” Xë¥¼ ì•„ì§ ë³´ì§€ ì•Šì•˜ë‹¤ê³  ê°€ì •.

- Aì™€ ë¹„ìŠ·í•œ ì‚¬ìš©ì 3ëª… ì¡´ì¬
- ê·¸ë“¤ì´ Xì— ì¤€ í‰ì : 4, 5, 4
- ìœ ì‚¬ë„ ê°€ì¤‘ í‰ê·  ê²°ê³¼: 4.3

â†’ Aì˜ ì˜ˆì¸¡ í‰ì ì€ 4.3

ì¦‰, **ë‚˜ì™€ ë¹„ìŠ·í•œ ì‚¬ëŒì˜ ì„ íƒì„ ë”°ë¥¸ ê²°ê³¼**ì„

### [5] KNNBasicì˜ ì˜ë¯¸

- í˜‘ì—…í•„í„°ë§ì˜ ëŒ€í‘œì  ì•Œê³ ë¦¬ì¦˜
- ì§ê´€ì  ì´í•´ ê°€ëŠ¥
- ì„¤ëª… ê°€ëŠ¥ì„± ë†’ìŒ (ì™œ ì¶”ì²œë˜ì—ˆëŠ”ì§€ ì„¤ëª… ì‰¬ì›€)
- ë°ì´í„°ê°€ í¬ì†Œí•˜ë©´ ì„±ëŠ¥ ì €í•˜ ê°€ëŠ¥
- í¸í–¥ ë³´ì • ê¸°ëŠ¥ì€ ê¸°ë³¸ì ìœ¼ë¡œ ì—†ìŒ

### [6] BaselineOnly vs KNNBasic ë¹„êµ

| êµ¬ë¶„ | BaselineOnly | KNNBasic |
|---|---|---|
| í•µì‹¬ ê°œë… | í¸í–¥ ë³´ì • | ìœ ì‚¬ë„ ê¸°ë°˜ |
| ê³µì‹ êµ¬ì¡° | Î¼ + b_u + b_i | ìœ ì‚¬ë„ ê°€ì¤‘ í‰ê·  |
| ê°œì¸ ì„±í–¥ ë°˜ì˜ | O | ê°„ì ‘ì  |
| ì´ì›ƒ ì •ë³´ í™œìš© | X | O |
| ë³µì¡ë„ | ë‚®ìŒ | ì¤‘ê°„ |
| ì„¤ëª… ê°€ëŠ¥ì„± | ì¤‘ê°„ | ë†’ìŒ |

### ğŸ” ì •ë¦¬

- Baseline â†’ "ê¸°ë³¸ ì„±í–¥ ë³´ì •"
- KNNBasic â†’ "ë¹„ìŠ·í•œ ì‚¬ëŒ(ë˜ëŠ” ì•„ì´í…œ)ì„ ì°¸ê³ "

ì¶”ì²œ ì‹œìŠ¤í…œ ì´ë¡ ì—ì„œ Baselineì€ ê¸°ì¤€ì„ , KNNì€ ë³¸ê²©ì  í˜‘ì—…í•„í„°ë§ì˜ ì‹œì‘ ë‹¨ê³„ì„.

## #02. ì¤€ë¹„ì‘ì—…

### [1] íŒ¨í‚¤ì§€ ì°¸ì¡°

In [1]:
from hossam import *
from pandas import DataFrame, merge

from surprise import Dataset, Reader, KNNBasic, accuracy
from surprise.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV

### [2] ë°ì´í„°ì…‹ ê°€ì ¸ì˜¤ê¸°

#### ë¶„ì„ëŒ€ìƒ - í‰ì ë°ì´í„°

In [2]:
origin = load_data("ml100k-ratings")
origin.head()

943ëª…ì˜ ì‚¬ìš©ìê°€ 1,682í¸ì˜ ì˜í™”ì— ëŒ€í•´ ë‚¨ê¸´ 100,000ê°œì˜ í‰ì  ê¸°ë¡ìœ¼ë¡œ êµ¬ì„±ëœ ëª…ì‹œì  í‰ê°€ ê¸°ë°˜ ì¶”ì²œ ì‹œìŠ¤í…œ í•™ìŠµìš© ë°ì´í„°ì…‹ (ì¶œì²˜: University of Minnesota)

ì»¬ëŸ¼ëª…     ì˜ë¯¸
---------  ---------
user_id    ì‚¬ìš©ì ID
item_id    ì•„ì´í…œ ID
rating     í‰ì
timestamp  í‰ê°€ ì‹œê°

   user_id  item_id  rating  timestamp
0      196      242       3  881250949
1      186      302       3  891717742
2       22      377       1  878887116
3      244       51       2  880606923
4      166      346       1  886397596

#### ë¶„ì„ê²°ê³¼ ë§µí•‘ ë°ì´í„° - ì˜í™” ì •ë³´

In [3]:
metadata = load_data("ml100k-metadata")
metadata.head()

ml100k-ratingsì— í¬í•¨ëœ ì˜í™” ì œëª©, ê³µê°œì‹œê¸°, ì¥ë¥´ ì •ë³´ë¥¼ ë‹´ê³  ìˆëŠ” ë°ì´í„° (ì¶œì²˜: University of Minnesota)

,item_id,title,release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Toy%20Story%20(1995),0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?GoldenEye%20(1995),0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995),0,1,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,1,0,0

## #03. KNNBAsic ëª¨ë¸ ì í•©

### [1] DataFrameì„ Dataset ê°ì²´ë¡œ ë³€í™˜

scikit-surpriseëŠ” ì¼ë°˜ DataFrameì„ ì§ì ‘ í•™ìŠµí•˜ì§€ ì•Šê³ , ë°˜ë“œì‹œ Readerë¥¼ í†µí•´ ë³€í™˜ëœ Dataset ê°ì²´ë§Œ í•™ìŠµ ê°€ëŠ¥í•˜ë‹¤.

#### í‰ì ì˜ ë²”ìœ„ í™•ì¸

In [4]:
rating_min = origin["rating"].min()
rating_max = origin["rating"].max()
print(f"Rating ë²”ìœ„: {rating_min} ~ {rating_max}")

Rating ë²”ìœ„: 1 ~ 5

#### surprise ë¼ì´ë¸ŒëŸ¬ë¦¬ì—ì„œ ì‚¬ìš©í•  ìˆ˜ ìˆë„ë¡ ë°ì´í„°ì…‹ì„ ë³€í™˜

In [5]:
# í‰ì ì˜ ë²”ìœ„ë¥¼ ì§€ì •í•˜ì—¬ Reader ê°ì²´ ìƒì„±
reader = Reader(rating_scale=(rating_min, rating_max))

# Dataset ê°ì²´ë¥¼ ìƒì„± - ì‚¬ìš©ì ì‹ë³„ì, ì•„ì´í…œ ì‹ë³„ì, í‰ì ë§Œìœ¼ë¡œ êµ¬ì„±ëœ ë°ì´í„° êµ¬ì¡°ê°€ í•„ìš”í•˜ë‹¤.
data = Dataset.load_from_df(origin[["user_id", "item_id", "rating"]], reader)

data

### [2] KNNBasic ëª¨ë¸ì˜ ì£¼ìš” í•˜ì´í¼ íŒŒë¼ë¯¸í„°

í•„ìˆ˜ íŠœë‹ ëŒ€ìƒì€ k, sim_options['name'], user_based 3ê°€ì§€ì„.

| íŒŒë¼ë¯¸í„°ëª… | í•µì‹¬ë„ | ì„¤ëª… | ê¸°ë³¸ê°’ | GridSearchCV ê¶Œì¥ê°’ |
|---|---|---|---|---|
| k | â­â­â­ | ìµœê·¼ì ‘ ì´ì›ƒ ìˆ˜ (ì°¸ê³ í•  ì‚¬ìš©ì/ì•„ì´í…œ ê°œìˆ˜) | 40 | [20, 30, 40, 50, 60, 80] |
| min_k | â­â­ | ì˜ˆì¸¡ì— í•„ìš”í•œ ìµœì†Œ ì´ì›ƒ ìˆ˜ | 1 | [1, 3, 5, 10] |
| sim_options['name'] | â­â­â­ | ìœ ì‚¬ë„ ê³„ì‚° ë°©ì‹ ( msd , cosine , pearson ) | 'msd' | ['msd', 'cosine', 'pearson'] |
| sim_options['user_based'] | â­â­â­ | ì‚¬ìš©ì ê¸°ë°˜(True) / ì•„ì´í…œ ê¸°ë°˜(False) ì„ íƒ | True | [True, False] |
| sim_options['min_support'] | â­â­ | ìœ ì‚¬ë„ ê³„ì‚°ì— í•„ìš”í•œ ìµœì†Œ ê³µí†µ í‰ê°€ ìˆ˜ | 1 | [1, 3, 5] |
| verbose | âœ… | í•™ìŠµ ë¡œê·¸ ì¶œë ¥ ì—¬ë¶€ | False | [True, False] |

In [6]:
%%time

# í•˜ì´í¼íŒŒë¼ë¯¸í„° ê·¸ë¦¬ë“œ
param_grid = {
    "k": [30, 50],
    "min_k": [1, 3],
    "sim_options": {
        "name": ["msd", "cosine", "pearson"],
        "user_based": [True, False],
        "min_support": [1, 3, 5]
    }
}

# GridSearchCV ê°ì²´ ìƒì„± ---> ë©”ëª¨ë¦¬ ë¶€ì¡± ì—ëŸ¬ ë°œìƒ
# gs = GridSearchCV(
#     KNNBasic,
#     param_grid,
#     measures=["rmse", "mae"],
#     cv=5,
#     n_jobs=-1
# )

gs = RandomizedSearchCV(
    KNNBasic,
    param_grid,
    measures=["rmse", "mae"],
    cv=5,
    n_jobs=-1,
    random_state=52  # ì¬í˜„ì„±ì„ ìœ„í•´ ì‹œë“œ ì„¤ì •
)

# í•™ìŠµ
gs.fit(data)

# ìµœì  ê²°ê³¼ ì¶œë ¥
print("ğŸ“Œ Best RMSE Score:", gs.best_score["rmse"])
print("ğŸ“Œ Best Parameters:", gs.best_params["rmse"])

Computing the msd similarity matrix...
Computing the msd similarity matrix...
Computing the msd similarity matrix...
Computing the msd similarity matrix...
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Computing the cosine similarity matrix...
Done computing similarity matrix.
Done computing similarity matrix.
Done computing similarity matrix.
Done computing similarity matrix.
Done computing similarity matrix.
Computing the pearson similarity matrix...
Computing the pearson similarity matrix...
Computing the pearson similarity matrix...
Computing the pearson similarity matrix...
Computing the pearson similarity matrix...
Computing the msd similarity matrix...
Done computing similarity matrix.
Done computing similarity matrix.
Computing the msd similarity matrix...
Computing the msd similarity matrix...
Done computing similarity matrix.
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Done computing similarity matrix.
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Done computing similarity matrix.
Done computing similarity matrix.
Computing the pearson similarity matrix...
Computing the pearson similarity matrix...
Computing the pearson similarity matrix...
Computing the pearson similarity matrix...
Computing the pearson similarity matrix...
Computing the cosine similarity matrix...
Done computing similarity matrix.
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Done computing similarity matrix.
Done computing similarity matrix.
Done computing similarity matrix.
Done computing similarity matrix.
Computing the pearson similarity matrix...
Computing the pearson similarity matrix...
Computing the pearson similarity matrix...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Done computing similarity matrix.
Computing the pearson similarity matrix...
Computing the pearson similarity matrix...
Done computing similarity matrix.
Done computing similarity matrix.
Done computing similarity matrix.
Done computing similarity matrix.
Computing the cosine similarity matrix...
Computing the cosine similarity matrix...
Computing the cosine similarity matrix...
Done computing similarity matrix.
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Computing the cosine similarity matrix...
Done computing similarity matrix.
Done computing similarity matrix.
Computing the msd similarity matrix...
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Computing the msd similarity matrix...
Done computing similarity matrix.
Done computing similarity matrix.
ğŸ“Œ Best RMSE Score: 0.9731379785917676
ğŸ“Œ Best Parameters: {'k': 30, 'min_k': 1, 'sim_options': {'name': 'msd', 'user_based': False, 'min_support': 3}}
CPU times: user 2.97 s, sys: 355 ms, total: 3.32 s
Wall time: 9.97 s

## #04. ì„±ëŠ¥í‰ê°€

### [1] í›ˆë ¨, ê²€ì¦ ë°ì´í„° ë¶„ë¦¬

In [7]:
# ë°ì´í„°ë¥¼ í•™ìŠµìš©ê³¼ í…ŒìŠ¤íŠ¸ìš©ìœ¼ë¡œ ë¶„í•  (80% í•™ìŠµ, 20% í…ŒìŠ¤íŠ¸)
train_data, test_data = train_test_split(data, test_size=0.2, random_state=52)

# í•™ìŠµìš©ê³¼ í…ŒìŠ¤íŠ¸ìš© ë°ì´í„°ì˜ í¬ê¸°ë¥¼ ì¶œë ¥
print(f"Trainset í¬ê¸°: {train_data.n_ratings}ê°œ")
print(f"Testset í¬ê¸°: {len(test_data)}ê°œ")

Trainset í¬ê¸°: 80000ê°œ
Testset í¬ê¸°: 20000ê°œ

### [2] ìµœì  ëª¨ë¸ ì¬í•™ìŠµ

In [8]:
# ìµœì  íŒŒë¼ë¯¸í„° ì¶”ì¶œ
best_params = gs.best_params["rmse"]

# ëª¨ë¸ ìƒì„±
best_model = KNNBasic(**best_params)

# ì „ì²´ ë°ì´í„° í•™ìŠµ
best_model.fit(train_data)

Computing the msd similarity matrix...
Done computing similarity matrix.

### [3] ì˜ˆì¸¡ê°’ ìƒì„±

In [9]:
predictions = best_model.test(test_data)
predictions[:5]  # ì˜ˆì¸¡ ê²°ê³¼ì˜ ì¼ë¶€ë¥¼ ì¶œë ¥

[Prediction(uid=303, iid=679, r_ui=2.0, est=3.455308447101709, details={'actual_k': 30, 'was_impossible': False}),
 Prediction(uid=308, iid=163, r_ui=4.0, est=3.6128934115504467, details={'actual_k': 30, 'was_impossible': False}),
 Prediction(uid=327, iid=663, r_ui=4.0, est=3.517336090491805, details={'actual_k': 30, 'was_impossible': False}),
 Prediction(uid=912, iid=479, r_ui=4.0, est=3.893682390888379, details={'actual_k': 30, 'was_impossible': False}),
 Prediction(uid=224, iid=329, r_ui=3.0, est=2.8109880190939402, details={'actual_k': 30, 'was_impossible': False})]

### [4] ì„±ëŠ¥í‰ê°€ ì§€í‘œ ìƒì„±

In [10]:
cv_rmse = gs.best_score["rmse"]

train_pred = best_model.test(train_data.build_testset())
test_pred = best_model.test(test_data)

train_rmse = accuracy.rmse(train_pred, verbose=False)
train_mae = accuracy.mae(train_pred, verbose=False)

test_rmse = accuracy.rmse(test_pred, verbose=False)
test_mae = accuracy.mae(test_pred, verbose=False)

rmse_gap_train = test_rmse - train_rmse
rmse_gap_cv = test_rmse - cv_rmse
mae_gap = test_mae - train_mae

# ê³¼ì í•© íŒì • ê¸°ì¤€
if rmse_gap_train > 0.05:
    overfit_flag = "ê³¼ì í•© ì˜ì‹¬"
else:
    overfit_flag = "ì •ìƒ"

result_df = DataFrame(
    {
        "Model": ["KNNBasic"],
        "CV_RMSE": [cv_rmse],
        "Train_RMSE": [train_rmse],
        "Test_RMSE": [test_rmse],
        "RMSE_Gap(Test-Train)": [rmse_gap_train],
        "RMSE_Gap(Test-CV)": [rmse_gap_cv],
        "Train_MAE": [train_mae],
        "Test_MAE": [test_mae],
        "MAE_Gap": [mae_gap],
        "Overfitting": [overfit_flag],
    }
)

result_df

,Model,CV_RMSE,Train_RMSE,Test_RMSE,RMSE_Gap(Test-Train),RMSE_Gap(Test-CV),Train_MAE,Test_MAE,MAE_Gap,Overfitting
0,KNNBasic,0.973,0.692,0.977,0.284,0.003,0.536,0.768,0.233,ê³¼ì í•© ì˜ì‹¬

## #05. TopN ì¶”ì²œ

### [1] ì•„ì§ í‰ê°€í•˜ì§€ ì•Šì€ ì•„ì´í…œì— ëŒ€í•œ ì˜ˆì¸¡ ìˆ˜í–‰

#### ì˜ˆì¸¡ê²°ê³¼ ìƒì„±

In [11]:
anti_testset = train_data.build_anti_testset()
predictions = best_model.test(anti_testset)
predictions[:5]  # ì˜ˆì¸¡ ê²°ê³¼ì˜ ì¼ë¶€ë¥¼ ì¶œë ¥

[Prediction(uid=234, iid=205, r_ui=3.5317375, est=3.5157247736431305, details={'actual_k': 30, 'was_impossible': False}),
 Prediction(uid=234, iid=504, r_ui=3.5317375, est=3.3114385122035, details={'actual_k': 30, 'was_impossible': False}),
 Prediction(uid=234, iid=73, r_ui=3.5317375, est=2.8961629140470366, details={'actual_k': 30, 'was_impossible': False}),
 Prediction(uid=234, iid=475, r_ui=3.5317375, est=3.100299927776156, details={'actual_k': 30, 'was_impossible': False}),
 Prediction(uid=234, iid=294, r_ui=3.5317375, est=2.7686589194745346, details={'actual_k': 30, 'was_impossible': False})]

#### ì˜ˆì¸¡ê²°ê³¼ ë°ì´í„°í”„ë ˆì„ êµ¬ì„±

In [12]:
pred_df = DataFrame(
    predictions, columns=["user_id", "item_id", "true_rating", "pred_rating", "details"]
)
pred_df.head()

,user_id,item_id,true_rating,pred_rating,details
0,234,205,3.532,3.516,"{'actual_k': 30, 'was_impossible': False}"
1,234,504,3.532,3.311,"{'actual_k': 30, 'was_impossible': False}"
2,234,73,3.532,2.896,"{'actual_k': 30, 'was_impossible': False}"
3,234,475,3.532,3.100,"{'actual_k': 30, 'was_impossible': False}"
4,234,294,3.532,2.769,"{'actual_k': 30, 'was_impossible': False}"

### [3] íŠ¹ì • ì‚¬ìš©ìì— ëŒ€í•œ ìƒìœ„ 10ê°œì˜ ì¶”ì²œ ì˜í™” ê²€ìƒ‰

#### 35ë²ˆ ì‚¬ìš©ìì— ëŒ€í•œ Top 10 ì¶”ì²œ ë°ì´í„°

In [13]:
N = 10
user_id = 35

topn_df = pred_df[pred_df["user_id"] == user_id]

topn_df = (
    topn_df[["user_id", "item_id", "pred_rating"]]
    .sort_values(["pred_rating"], ascending=[False])
    .groupby("user_id")
    .head(N)
    .reset_index(drop=True)
)

topn_df

   user_id  item_id  pred_rating
0       35     1072        5.000
1       35     1344        5.000
2       35     1189        5.000
3       35      917        5.000
4       35     1162        5.000
5       35      920        5.000
6       35     1262        5.000
7       35     1316        5.000
8       35     1431        5.000
9       35     1527        5.000

#### ë©”íƒ€ë°ì´í„°ì™€ ë³‘í•©í•˜ì—¬ ì˜í™” ì •ë³´ ìƒì„±

In [14]:
movie_df = topn_df.merge(metadata, on="item_id", how="left")
movie_df

,user_id,item_id,pred_rating,title,release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children's,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,35,1072,5.000,"Pyromaniac's Love Story, A (1995)",01-Jan-1995,"http://us.imdb.com/M/title-exact?Pyromaniac's%20Love%20Story,%20A%20(1995)",0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0
1,35,1344,5.000,"Story of Xinghua, The (1993)",01-Jan-1993,"http://us.imdb.com/M/title-exact?Story%20of%20Xinghua,%20The%20(1993)",0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
2,35,1189,5.000,Prefontaine (1997),24-Jan-1997,http://us.imdb.com/M/title-exact?Prefontaine%20(1997),0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
3,35,917,5.000,Mercury Rising (1998),27-Mar-1998,http://us.imdb.com/Title?Mercury+Rising+(1998),0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0
4,35,1162,5.000,Phat Beach (1996),02-Aug-1996,http://us.imdb.com/M/title-exact?Phat%20Beach%20(1996),0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0
5,35,920,5.000,Two Bits (1995),01-Jan-1995,http://us.imdb.com/M/title-exact?Two%20Bits%20(1995),0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
6,35,1262,5.000,Walking and Talking (1996),12-Jul-1996,http://us.imdb.com/M/title-exact?Walking%20and%20Talking%20(1996),0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
7,35,1316,5.000,"Horse Whisperer, The (1998)",25-Dec-1997,http://us.imdb.com/M/title-exact?imdb-title-119314,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0
8,35,1431,5.000,Legal Deceit (1997),01-Jan-1997,http://us.imdb.com/Title?Legal+Deceit+(1997),0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0
9,35,1527,5.000,Senseless (1998),09-Jan-1998,http://us.imdb.com/M/title-exact?imdb-title-120820,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0